<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Contacto</title>
    <!-- <link rel="icon" type="image/x-icon" href="/static/tabICN.ico"> -->
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="center">
        <h1>Sign Up</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="profile-picture">
                <img src="static/profile-picture.jpg">
                <input type="file" id="file" name="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
            <div class="txt_field">
                <input type="text" required name="name">
                <span></span>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="text" required name="email">
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="tel" required name="telephone">
                <span></span>
                <label>Phone Number</label>
            </div>
            <div class="txt_field">
                <input type="text" required name="note">
                <span></span>
                <label>Note</label>
                <span></span>
            </div>
            <span></span>
            <label> Category</label>
            <span></span>
            <select id="category" name="category">
                    <option value="Family">Family</option>
                    <option value="Friend">Friend</option>
                    <option value="Work">Work</option>
            </select><br><br>


            <input type="submit" value="Add User"><br><br>
            <input type="button" value="Back" onclick="history.back()" class = "btn btn-default  btn-outline-success ">
            <br /><br />
        </form>

    </div>

</body>



</html>





</html>